@using MVC_Sample.Models
<div class="panel-heading center">Tickets Report</div>
<table class="table table-bordered table-striped" id="ticket-report-table">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Escalation ID</th>
            <th>Summary</th>
            <th>Priority</th>
            <th>Escalation Status</th>
            <th>Possible Datafixes</th>
        </tr>
    </thead>
    <tbody>
        @{
            List<TicketData> FilteredData = ViewBag.FilteredData;
            int qcsno = 1;
        }
        @foreach (TicketData ticket in FilteredData)
        {
            <tr data-toggle="collapse">
                <td>@(qcsno++)</td>
                <td>@ticket.EscalationId</td>
                <td>@ticket.Summary</td>
                <td>@ticket.Priority</td>
                <td>@ticket.EscalationStatus</td>
                <td><button type="button" class="btn btn-lg btn-info collapsed" data-toggle="collapse" data-target="#demo">View Datafixes</button></td>
            </tr>
        }
    </tbody>
</table>



@*<table class="table table-bordered table-striped" id="ticket-report-table-detailed">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Escalation ID</th>
            <th>Summary</th>
            <th>Priority</th>
            <th>Escalation Status</th>
            <th>Possible Datafixes</th>
        </tr>
    </thead>
    <tbody>
        @{
            List<TicketData> FilteredDataDetailed = ViewBag.FilteredData;
            int qcsnoDetailed = 1;
        }
        @foreach (TicketData ticket in FilteredDataDetailed)
        {
            <tr data-toggle="collapse">
                <td>@(qcsnoDetailed++)</td>
                <td>@ticket.EscalationId</td>
                <td>@ticket.Summary</td>
                <td>@ticket.Priority</td>
                <td>@ticket.EscalationStatus</td>
                <td><button type="button" class="btn btn-lg btn-info collapsed" data-toggle="collapse" data-target="#demo">View Datafix</button></td>
            </tr>
        }
    </tbody>
</table>*@

@*<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#ticket-report-table').DataTable();
        $('#ticket-report-table tbody').on('click', 'tr', function () {
            var data = table.row(this).data();
            var search = data[2];
                if (search.length > 2) {
                    $.ajax({
                        url: "@Url.Action("GetPossibleDataFixes","Home")",
                        data: { "search": search },
                        success: function (result) {
                            $("#ticket-report-table-detailed").html(result);
                        }
                    });
                }
        });
    });

</script>*@
