
@using MVC_Sample.Models
@*<div class="panel-heading center">Possible Fixes</div>*@
@*<div id="loadingDiv" style="display: none">
    <img src="~/Content/assets/img/ajax-loader.gif" />
</div>*@

<!-- Modal -->
<div class="modal fade" id="defect-data2" tabindex="-1" role="dialog" aria-labelledby="defect-data">
    <div class="modal-dialog modal-custom-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="defect-dataLabel"></h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" id="ticket-report-table-detailed">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Escalation ID</th>
            <th>Summary</th>
            <th>Priority</th>
            <th>Escalation Status</th>
            <th>Possible Fix</th>
        </tr>
    </thead>
    <tbody>
        @{
            List<TicketFixesData> FilteredDataDetailed = ViewBag.FilteredData;
            int qcsnoDetailed = 1;
        }
        @foreach (TicketFixesData ticket in FilteredDataDetailed)
        {
            <tr>
                <td>@(qcsnoDetailed++)</td>
                <td>@ticket.EscalationId</td>
                <td>@ticket.Summary</td>
                <td>@ticket.Priority</td>
                <td>@ticket.EscalationStatus</td>

                @if (ticket.IsFixAvailable)
                {
                    <td>

                        @Html.ActionLink(
                          "Download Solution",
                          "DownloadFile",
                          "Home",
                          routeValues: new
                          {
                              EscalationId = ticket.EscalationId,
                          },
                          htmlAttributes: null
                          )
                    </td>
                }
                else
                {
                    <td>
                        N/A
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


<script type="text/javascript">
    //$(document).ready(function () {
     @*function showFile() {
         var table = $('#ticket-report-table-detailed').DataTable();
         $('#ticket-report-table-detailed tbody').on('click', 'tr', function () {
            var data = table.row(this).data();
            var search = data[1];
            if (search.length > 3) {
                $.ajax({
                    url: "@Url.Action("ShowFile", "Home")",
                    data: { "EscalationId": search },
                    success: function (result) {
                        //$("#defect-data2 .modal-title").text("Possible Outcome: Fix:");
                        //$("#defect-data2 .modal-body").html(result);
                        //$("#defect-data2").modal("show");
                        //$("#ticket-report-table-log").DataTable();
                        //$("#ticket-report-table-detailed").css("display", "block");
                        //$("#ticket-report-table-detailed").html(result);
                    }
                });
            }
        });
    };*@     
        //Loading Image for Ajax Call
        //jQuery(document).ajaxStart(function () {
        //    jQuery("#succ_respone").hide();
        //    jQuery("#err_respone").hide();
        //    jQuery('#loadingDiv').show();
        //}).ajaxStop(function () {
        //    jQuery('#loadingDiv').hide();
        //}).ajaxError(function (event, request, settings) {
        //    if (request.status == 403) {
        //        // window.location.href = app_url + "/index.php/";
        //    }
        //});

</script>